
<div *ngIf="weatherInfos">
  <p *ngIf="weatherInfos.wind"><span>L'angle du vent est  de {{weatherInfos.wind.deg}}° et la note  est    {{note}}</span></p>
  <p  *ngIf="weatherInfos.name" >Ville: {{city}}</p>
  </div>

<svg version="1.1" baseProfile="full" width="300" height="300" xmlns="http://www.w3.org/2000/svg">
<svg:text x="140" y="60" font-family="Verdana" font-size="20" transform="rotate(0,150,150)">C</svg:text>
<svg:text x="140" y="60" font-family="Verdana" font-size="20" transform="rotate(60,150,150)">D</svg:text>
<svg:text x="140" y="60" font-family="Verdana" font-size="20" transform="rotate(120,150,150)">E</svg:text>
<svg:text x="140" y="60" font-family="Verdana" font-size="20" transform="rotate(150,150,150)">F</svg:text>
<svg:text x="140" y="60" font-family="Verdana" font-size="20" transform="rotate(210,150,150)">G</svg:text>
<svg:text x="140" y="60" font-family="Verdana" font-size="20" transform="rotate(270,150,150)">A</svg:text>
<svg:text x="140" y="60" font-family="Verdana" font-size="20" transform="rotate(330,150,150)">B</svg:text>
<svg:circle cx="150" cy="150" r="80" fill="transparent" stroke="black" />
<svg:rect x="150" y="70" width="1" height="80" fill="transparent" stroke="black" [attr.transform]="transformation" />
</svg>